:root {
  --kkleeMultiSelectColour: blue;
  --kkleeErrorColour: rgb(204, 68, 68);
  --kkleeMultiSelectPropHighlightColour: blueviolet;

  --kkleeCheckboxUnchecked: #586e77;
  --kkleeCheckboxChecked: #59b0d6;
  --kkleeCheckboxTfsTrue: #59d65e;
  --kkleeCheckboxTfsFalse: #d65959;
  --kkleeCheckboxTfsSame: #d6bd59;

  --kkleePreviewSliderDefaultMarkerColour: #431;
  --kkleePreviewSliderMarkerBackground: linear-gradient(
    90deg,
    transparent 36%,
    var(--kkleePreviewSliderDefaultMarkerColour),
    transparent 42%
  );
}
.kkleeCheckbox {
  width: 12px;
  height: 12px;
  text-align: center;
  border: 2px solid #111;
  margin: auto 3px;
  color: black;
  font-size: 12px;
  line-height: 12px;
}

.kkleeCheckbox:hover {
  filter: brightness(1.4);
}

.kkleeMultiSelectPlatformIndexLabel {
  color: var(--kkleeMultiSelectColour);
  font-size: 12px;
  float: left;
}
.kkleeMultiSelectShapeIndexLabel {
  color: var(--kkleeMultiSelectColour);
  font-size: 12px;
}
.kkleeMultiSelectShapeTextBox {
  border: 3px solid var(--kkleeMultiSelectColour) !important;
}
.kkleeMultiSelectPlatform {
  outline: 2px solid var(--kkleeMultiSelectColour) !important;
  outline-offset: -1px;
}

.kkleeColourInput {
  width: 18px;
  height: 13px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid white;
  outline: 2px solid black;
  margin: auto 3px;
}

.kkleeMultiSelectPropHighlight {
  color: var(--kkleeMultiSelectPropHighlightColour);
  font-weight: bold;
}

#pretty_top_kklee_fullscreen {
    width: 58px;
    height: 34px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 36 36'%3E%3Cpath d='M10 16h2v-4h4v-2h-6v6zm10-6v2h4v4h2v-6h-6zm4 14h-4v2h6v-6h-2v4zm-12-4h-2v6h6v-2h-4v-4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 291px;
    top: 0;
}